{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block header %}
<h2 class="fs-1">Add budget</h2>
{% endblock header %}
{% block content %}

<div class="container mt-3 mb-5 col-lg-3">
  <form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <div class="d-grid d-md-block text-end">
      <button class="btn btn-outline-dark"
        type="submit">Add Budget</button>
    </div>
  </form>
</div><br><br><br><br>
<script type="text/javascript">
  function openAddRuleWindow() {
    var win = window.open("{% url 'add_rule' %}", "_blank", "width=600,height=800");
    win.onunload = refreshRule;
  }

  function refreshRule() {
    fetch("{% url 'get_rules' %}")
      .then(response => response.json())
      .then(data => {
        const select = document.getElementById('id_rule');
        const selectedValue = select.value;
        select.innerHTML = '';
        data.rules.forEach(rule => {
          const option = document.createElement('option');
          option.value = rule.id;
          option.textContent = rule.name;
          select.appendChild(option);
        });
        // Select the newly added rule
        if (data.new_rule_id) {
          select.value = data.new_rule_id;
        } else {
          // Restore previous selection if new rule ID is not available
          select.value = selectedValue;
        }
      });
  }

</script>
{% endblock %}