{% extends "base.html" %}

{% block header %}
<h2 class="fs-1">Your Budgets</h2>
{% endblock header %}

{% block content %}
<div class="container mt-3 mb-5 col-lg-3">
  <div class="d-grid d-md-block text-end">
    <a title="add budget"
      href="{% url 'add_budget' %}">
      <span class="fs-1 text-dark material-symbols-outlined">
        add_card
        </span></a>
  </div><br>
  <ul>
    {% for budget in budgets %}
    <h2><strong> Rule: {{budget.rule}}</strong></h2>
    <li><span class="fs-3">${{ budget.amount }}</span>
      <ul>
        <li>Savings ${{ budget.get_savings }}</li>
        <li>Needs ${{ budget.get_needs }}</li>
        <li>Wants ${{ budget.get_wants }}</li>
      </ul>
    </li>
    <hr>
    {% empty %}
    <p class="text-center">No budgets yet.</p>
    {% endfor %}
  </ul>
</div><br><br>
{% endblock %}