{% extends "base.html" %}

{% block header %}
<h2 class="fs-1">Your Budgets</h2>
{% endblock header %}

{% block content %}
<div class="container mt-3 mb-5 col-lg-3">
  <div class="text-end">
    <a title="add budget"
      href="{% url 'add_budget' %}">
      <span class="nav-btn me-3 text-dark material-symbols-outlined">
        add_card
      </span></a>
  </div><br>
  {% for budget in budgets %}
  <div class="shadow border p-3 rounded-4 mb-3">
    <h2><strong> Rule: {{budget.rule}}</strong></h2>
    <span class="fs-3"><strong>Amount: </strong>${{ budget.amount }}</span><br>
    <span><strong>Savings: </strong> ${{ budget.get_savings }}</span><br>
    <span><strong>Wants: </strong> ${{ budget.get_wants }}</span><br>
    <span><strong>Needs: </strong> ${{ budget.get_needs }}</span>
  </div>
  {% empty %}
  <p class="text-center">No budgets yet.</p>
  {% endfor %}
</div><br><br><br><br>
{% endblock %}