{% extends "base.html" %}
{% load humanize %}

{% block header %}
<h2 class="fs-1">Your Accounts</h2>
{% endblock header %}


{% block content %}
<div class="container mt-3 mb-5 col-lg-3">
  <div class="d-grid d-md-block text-end">
    <a class="btn btn-outline-dark mb-2 mb-lg-0"
      href="{% url 'add_account' %}">Add New Account</a>
    <a class="btn btn-outline-dark"
      href="{% url 'transfer' %}">Transfer</a>
  </div>
  <br><br>
  <p class="display-1 fw-bold text-end">${{total_balance|intcomma}}
  </p>
  <hr>
  {% for account in accounts %}
  <a class="text-decoration-none text-dark" href="{% url 'account_detail' account.id %}">
    <p class="fs-2">
      <span> {{ account.name }}</span> <span class="float-end">
        ${{ account.balance|intcomma }}</span>
    </p>
  </a>
  <hr>
  {% endfor %}
</div><br><br>
{% endblock %}