{% extends "base.html" %}

{% load crispy_forms_tags %}

{% block header %}
<h2 class="fs-2">Your Transactions
</h2>
{% endblock header %}
  

{% block content %}

<div class="container mt-3 mb-5 col-lg-3">
  <!-- <form method="get">
    {{ form|crispy }}
    <div class="d-grid d-md-block text-end">
      <button class="btn btn-dark"
        type="submit">Filter</button>
    </div>
  </form> -->
  <hr>
  {% for transaction in transactions %}
  <p
    class="{% if transaction.transaction_type == 'income' %}  text-success {% else %} text-danger {% endif %} px-3">
    {{ transaction.category.name }} -
    ${{ transaction.amount }}
  </p>
  <hr>

  {% endfor %}
</div><br><br>
{% endblock %}