{% extends "base.html" %}
{% load instanceof_filter %}
{% block header %}
<h2 class="fs-2">{{ account.name }}</h2>
{% endblock header %}

{% block content %}
<div class="container mt-3 mb-5 col-lg-3">
    <p class="text-end fs-1">${{ account.balance }}</p>
    <div class="d-flex justify-content-end">
        <a class="" title="transfer"
            href="{% url 'transfer' %}"><span class="fs-1 text-dark material-symbols-outlined me-3">
                move_down
                </span></a>
        <a class="" title="add transaction"
            href="{% url 'add_transaction' %}"><span class="fs-1 text-dark material-symbols-outlined">
                docs_add_on
                </span></a>
    </div>
    <hr>

    {% if transactions %}
    {% for item in transactions %}
    <p class="d-flex justify-content-between 
    {% if item.transaction_type == 'income' %}
        text-success 
    {% else %}
        text-danger 
    {% endif %} px-3">
        <span>
            {% if item|isinstanceof:"Transaction" %}
            {{ item.category.name }}
        </span>
        <span>
            {% if item.transaction_type == 'expense' %} - {% endif %}
            ${{ item.amount }}
        </span>
    </p>
    {% elif item|isinstanceof:"Transfer" %}
    <p class="d-flex justify-content-between {% if item.type == 'from_transfer' %}
            text-danger 
        {% else %}
            text-success 
        {% endif %} px-3">
        <span>
            {% if item.type == 'from_transfer' %}
            {{ item.to_account.name }}
            {% elif item.type == 'to_transfer' %}
            {{ item.from_account.name }}
            {% endif %}
        </span>

        <span>{% if item.type == 'from_transfer' %} - {% endif %}
            ${{ item.amount }}</span>
        {% endif %}
    </p>
    <hr>
    {% endfor %}
    <hr>
    {% else %}
    <p class="text-center">No transactions yet</p>
    {% endif %}

</div><br><br><br>
{% endblock %}