{% extends "base.html" %}
{% load humanize %}

{% block header %}
<h2 class="fs-1">Your Accounts</h2>
{% endblock header %}


{% block content %}
<div class="container col-lg-3">
  <div class="px-3 text-end">
    <a title="add account"
      href="{% url 'add_account' %}">
      <span style="font-size: 50px;"
        class="text-dark material-symbols-outlined">
        add_circle
      </span></a>
  </div>
  <div class="border border-2 border-dark rounded-4 p-3">
    <p class="fw-bold text-end">{% now "F Y" %}</p>
    <p class="fs-5 fw-bold text-end">${{total_balance|intcomma}}
    </p>
    {% for account in accounts %}
    <a class="text-decoration-none text-dark"
      href="{% url 'account_detail' account.id %}">
      <div
        class="border rounded-4 p-3 mb-2 {% if forloop.first %} text-bg-white border-dark border-2 {% else %} text-bg-dark {% endif %}">
        <p class="">
          <span> {{ account.name }}</span> <span class="float-end">
            ${{ account.balance|intcomma }}</span>
        </p>
      </div>
    </a>
    {% endfor %}
  </div>
</div><br><br>
{% endblock %}