{% extends "base.html" %}
{% load instanceof_filter %}
{% block header %}
<h2 class="fs-2">{{ account.name }}</h2>
{% endblock header %}

{% block content %}
<div class="container mt-3 mb-5 col-lg-3">
    <p class="text-center fs-1"><strong>{{ account.name }}
            ${{ account.balance}}</strong> </p>
    <div class="d-flex justify-content-end">
        <a class=""
            title="transfer"
            href="{% url 'transfer' %}"><span
                class="nav-btn text-dark material-symbols-outlined me-3">
                move_down
            </span></a>
        <a class=""
            title="add transaction"
            href="{% url 'add_transaction' %}"><span
                class="nav-btn text-dark material-symbols-outlined">
                docs_add_on
            </span></a>
    </div>
    {% if transactions %}
    {% for item in transactions %}
    <div class="border border-dark border-2 p-2 rounded-4 mb-1">
        <p class="d-flex justify-content-between px-3 m-0">
            <span>
                {% if item|isinstanceof:"Transaction" %}
                {{ item.category.name }}
            </span>
            <span>
                {% if item.transaction_type == 'expense' %} - {% endif %}
                ${{ item.amount }}
            </span>
        </p>
        <p class="d-flex justify-content-between px-3 m-0">
            <span>
                {{item.description}}
            </span>
            <span class="text-muted small"
                style="font-size: small;">
                {{item.date|date:"D d M Y"}}
            </span>
        </p>
        {% elif item|isinstanceof:"Transfer" %}
        <p class="d-flex justify-content-between px-3 align-items-center m-0">
            <span>
                {% if item.type == 'from_transfer' %}
                <span> {{ item.to_account.name }}</span>
                {% elif item.type == 'to_transfer' %}

                <span> {{ item.from_account.name }}</span>
                {% endif %}
            </span>

            <span>{% if item.type == 'from_transfer' %} - {% endif %}
                ${{ item.amount }}</span>
        </p>
        <p class="d-flex justify-content-end px-3 small m-0">
            <span class="small text-muted">{{item.date|date:"D d M Y"}}</span>
        </p>
        {% endif %}

    </div>
    {% endfor %}
    {% else %}
    <p class="text-center">No transactions yet</p>
    {% endif %}
</div><br><br><br>
{% endblock %}