{% load static %}
<div
    class="py-1 text-bg-dark d-flex justify-content-between align-items-center fixed-top">
    {% if request.user.is_authenticated %}
    <div class="ms-3">
        <a href="javascript:history.back()">
            <span class="nav-btn text-white material-symbols-outlined">
                arrow_back_ios
            </span>
        </a>
    </div>
    {% endif %}
    <a href="/">
        <img class="rounded-circle mx-3"
            width="40"
            src="{% static 'img/naomi_numbers.jpg' %}"
            alt="">
    </a>
    {% if request.user.is_authenticated %}

    <a class="text-white me-3"
        href="{% url 'budget_list' %}"><span
            class="nav-btn material-symbols-outlined">
            attach_money
        </span></a>
    {% endif %}

</div>